/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.parallax {
  position: relative;
  background-image: url("/src/Assets/pexels-mdsnmdsnmdsn-1831234.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.8);
}

.parallax::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* Adjust the height as needed */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.parallax h1 {
  position: relative;
  font-family: 'Playwrite MX', sans-serif; /* Apply Google Font */
  font-size: 50px;
  color: #fff;
  margin: 0;
  animation: fadeInUp 2s ease-out;
  transition: transform 0.3s ease, color 0.3s ease;
}

.parallax h1:hover {
  transform: scale(1.1);
  color: #ffcc00; /* Change to any color you like */
}

.heart-container {
  position: relative;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform-origin: center center;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 10px;
}

.parallax h1:hover .heart {
  opacity: 1;
  animation: heartBeat 1s infinite;
}

/* Positioning and rotating hearts */
.heart1 {
  top: -40px;
  left: -40px;
  transform: rotate(45deg);
}

.heart2 {
  bottom: -40px;
  left: -40px;
  transform: rotate(135deg);
}

.heart3 {
  top: -40px;
  right: -40px;
  transform: rotate(-45deg);
}

.heart4 {
  bottom: -40px;
  right: -40px;
  transform: rotate(-135deg);
}

.heart5 {
  top: -40px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.heart6 {
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
}
