<!DOCTYPE html>
<html>
<head>
    <title>YouTube Playlist</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Our Music Playlist</h1>
    <div id="search-container">
        <input type="text" id="search-input" placeholder="Search for a song...">
    </div>
    <div id="video-player">
        <iframe width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="results"></div>
    <div id="pagination">
        <button id="prev-button">Previous</button>
        <button id="next-button">Next</button>
    </div>
    <script src="script.js"></script>
</body>
</html>
